body {
  background-color: #f6f6f6;
}
#root {
  background-color: #ffffff;
  margin: 0 auto;
 padding-bottom: 3rem;
 margin: 0 10vw 0 10vw;
}
.searchField {
  margin: 0 auto;
  text-align: center;
 color: red;
 display: flex;
 justify-content: center;
 margin: 2rem 0 1rem 0;

}
.form-control {
  margin: 0;
  padding: 1rem;
  display: inline;
}
input:focus::placeholder {
  color: transparent;
}
footer p {
  font-size: .8rem;
  color: #aeaeae;
}